@page "/"

<PageTitle>Index</PageTitle>

<h1>Main</h1>
@code {
    
}

<style>
    .max-width-img {
        max-width: 100%; 
        height: auto; 
    }
</style>

<img class="max-width-img" src="/css/Images/nature.jpg" />


