

<div class="modal" style="display: @(_show ? "block" : "none")">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close" @onclick="Close">&times;</button>
            </div>
            <div class="modal-body">
                @ChildContent
            </div>
            <div class="modal-footer">
                @if (!HideCloseButton)
                {
                    <button type="button" class="btn btn-secondary" @onclick="Close">Close</button>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool HideCloseButton { get; set; }

    private bool _show;

    public void Show()
    {
        _show = true;
        StateHasChanged();
    }

    public void Close()
    {
        _show = false;
        StateHasChanged();
    }
}